 <h1>All Stores</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Store Name </th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      #foreach ($store in $stores)
        <tr>
          <a href="/store/$store.getId()">
            <td>$store.getName()</td>
            <td>$store.getAddress()</td>
            <td>$store.getPhoneNumber()</td>
          </a>
        </tr>
      #end
    </tbody>
  </table>
